* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*------------------------------------------ This the navigation menu--------------------------- */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 5%;
    background: rgba(13, 40, 99, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 0;
    left: 0;
    height: 60px;
    position: sticky;
    z-index: 10000;
}

#header a img {
    height: 30px;
    width: 50px;
    object-fit: cover;
    margin-left: -5%;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: white;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 50%;
    height: 2px;
    background: #080808;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/*------------------------------------- This is the Home section------------------------------------- */
#content {
    height: max-content;
    width: 100%;
    background: linear-gradient(180deg, rgba(13, 40, 99, 0.8) 73.44%, rgba(16, 76, 166, 0.87) 100%);
}

.text-box {
    color: #fff;
    position: absolute;
    top: 20%;
    left: 5%;
    margin-bottom: 20%;
}

.text-box p {
    margin-left: -3%;
    font-size: 400%;
    font-weight: 600;
}

.text-box h1 {
    font-size: 500%;
    line-height: 160px;
    margin-left: -3%;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url("./assets/back.png");
    -webkit-background-clip: text;
    background-position: 0 7;
    animation: back 20s linear infinite;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.text-box h3 {
    font-size: 100%;
    font-weight: 500;
    color: #fff;
    letter-spacing: -10%;
}

.image img {
    height: 60%;
    width: 35%;
    margin-left: 55%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 18%;
}

/* -------------------This is the about me section---------------------------s */


#about-me h1 {
    text-align: center;
    letter-spacing: 15%;
    font-size: 24px;
    font-weight: 800;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
}

.about-content {
    display: flex;
    height: 80%;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
    background: rgba(13, 40, 99, 0.8);
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
}

.about-content:hover {
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    transition: 1s;
}

.image-1 img {
    height: 280px;
    width: 200px;
    margin: 20px 0 20px 20px;
    border-radius: 10px;
    border-bottom-left-radius: 80px;
    border-top-left-radius: 0;
    background-size: cover;
    object-fit: cover;
}

.about-text p {
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 10%;
    text-align: justify;
    justify-content: center;
    color: white;
    font-size: 80%;
    letter-spacing: 5%;
    line-height: 200%;
    font-family: Lucida Sans;
    overflow: hidden;
}

/* -----------------------------------------------This is My work section ----------------------------- */


#portfolio {
    padding: 30px 0;
    height: max-content;
    background: linear-gradient(180deg, rgba(13, 40, 99, 0.8) 73.44%, rgba(16, 76, 166, 0.87) 100%);
}

.sub-title {
    color: #fff;
    text-align: center;
    font-size: 200%;
}

.work-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-gap: 2%;
    margin: 2% 5% 5% 5%;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.layer {
    width: 100%;
    height: 0;
    background: rgba(13, 40, 99, 0.8);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}

.layer p {
    color: #fff;
    font-weight: 500;
}

.layer a {
    margin-top: 20px;
    color: rgba(13, 40, 99, 0.8);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 20%;
    height: 15%;
    border-radius: 50%;
}

.work:hover .layer {
    height: 100%;
}

/*--------------------------- This is my service section ---------------------*/
.services {
    margin-top: 2%;
    padding-bottom: 10%;
    margin-bottom: 7%;
}

.services h1 {
    margin-bottom: 3%;
}

.services p {
    margin-bottom: 3%;
}

.services-box {
    background: rgba(13, 40, 99, 0.8);
    padding: 10px;
    height: 150%;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
}

.services-box .fa {
    margin: 20% 10% 0 10%;
    font-size: 200%;
}

.services-box span {
    margin: 3px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
}

.services-box p {
    font-size: 15px;
    margin-top: 20px;
    color: white;
    padding: 10px;
}

.services-box:hover {
    box-shadow: 60px 60px 60px rgba(0, 0, 0, 0.25);
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    transition: 1s;
}

.services-box:hover p {
    color: #fff;
}

.container {
    text-align: center;
}

.container h1 {
    font-size: 24px;
    letter-spacing: 15%;
    font-weight: 800;
}

.container p {
    font-size: 17px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col-md-4 {
    margin: 2%;
}

/* -----------------------------------------This is my contact section ---------------------------- */
#contact-me {
    height: max-content;
    display: flex;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(13, 40, 99, 0.8) 73.44%, rgba(16, 76, 166, 0.87) 100%), url("./assets/mine.jpg");
    background-size: cover;
    object-fit: cover;
}

.container-contact {
    padding: 10px 10%;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left h1 {
    font-size: 150%;
    margin-left: -60%;
    margin-top: 25%;
}

.contact-left p {
    margin-top: 10%;
}

.contact-left p i {
    color: #fff;
    margin-left: 40px;
    font-size: 18px;
    margin-top: 20px;
}

.contact-left p a {
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
    font-size: 18px;
}

.social-icons {
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    cursor: pointer;
}

.social-icons a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    color: #fff;
    transition: transform, 0.5s;
}

.social-icons a:hover {
    color: rgba(13, 40, 99, 0.8);
    transform: translateY(-5px);
}

.btn-2 button {
    display: block;
    margin-left: 100px;
}

#btn3 {
    margin-top: 62px;
    margin-bottom: 0;
}



.btn {
    background-color: black;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 14px;
    cursor: pointer;
    margin: 20px;
    width: 65%;
    height: 60px;
    border-radius: 10px;
    text-align: left;
}

.btn i {
    padding-right: 20px;
}

.btn:hover {
    background: transparent;
    border: 2px solid black;
}

.btn a {
    text-decoration: none;
    color: #fff;
}

#btn-back {
    width: 35%;
    margin-left: 10%;
    font-size: 14px;
}

.contact-right form {
    width: 100%;
    margin-top: 120px;
}

form input,
form textarea {
    width: 100%;
    height: 80px;
    border: 0;
    outline: none;
    background: #fff;
    padding: 15px;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-left: 10%;
    color: black;
    font-size: 18px;
    border-radius: 6px;
}

.your-msg {
    height: 150px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #fff;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i {
    color: rgba(13, 40, 99, 0.8);
}

span {
    color: orange;
}

.head .fas {
    display: none;
}



/*----------------------------------------------- This is my section for small screen devices----------------------------- */
@media only screen and (max-width: 767px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #header {
        background: rgba(13, 40, 99, 0.8);
        width: auto;
    }

    #content {
        height: max-content;
        background: linear-gradient(180deg, rgba(13, 40, 99, 0.8) 73.44%, rgba(16, 76, 166, 0.87) 100%);
    }

    .head ul {
        background: rgba(13, 40, 99, 0.8);
        position: fixed;
        display: block;
        flex-direction: column;
        margin-top: -3%;
        right: -200px;
        height: 90vh;

        z-index: 2;
        transition: right 0.5s;
    }

    .head ul li a {
        display: block;
        flex-direction: column;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }

    #navbar li a.active::after,
    #navbar li a:hover::after {
        height: 0px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
    }

    li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #555;
        color: white;
    }

    .head .fas {
        display: block;
        color: white;
        cursor: pointer;
    }

    .head ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    /* ---------------------------------------------This is my about section---------------------------- */
    .text-box {
        margin-top: 10%;
        font-size: 16px;
        margin-left: 5%;
    }

    .text-box p {
        margin-left: -5%;
        margin-top: -20%;
        margin-bottom: -10%;
        overflow: hidden;
    }

    .text-box h1 {
        font-size: 30px;
        margin-top: -20%;
    }

    .text-box h3 {
        margin-top: -20%;
        margin-left: -2%;
        font-size: 10px;
    }

    .image img {
        margin-top: 90%;
        margin-left: 5%;
        height: max-content;
        width: 80%;
        margin-bottom: 40%;
    }

    .about-content {
        display: flex;
        height: 250px;
        width: auto;
        margin: 0 30px 20px 30px;
        background: rgba(13, 40, 99, 0.8);
        border-bottom-left-radius: 80px;
        border-top-right-radius: 80px;
    }

    #about-me h1 {
        font-size: 30px;
        text-align: left;
        padding: 0 30px;
    }

    .image-1 {
        display: none;
    }

    .about-text p {
        padding: 20px 20px;
        font-size: 45%;
        line-height: 120%;
        justify-content: center;
        overflow: hidden;
    }

    /* --------------------------------------this is my work section --------------------------- */
    .sub-title {
        text-align: left;
        padding: 0 40px;
    }

    .sub-title h1 {
        font-size: 30px;
    }

    #portfolio {
        height: auto;
    }

    .work-list {
        flex-direction: column;
        justify-content: center;
    }

    .work img {
        justify-content: center;
        margin-bottom: 10%;
        height: auto;
        width: 80%;
        margin-left: 9%;
    }

    .layer {
        margin-left: 9%;
        margin-bottom: 10%;
        padding: 10px 0;
        width: 80%;
        height: 0;
        display: flex;
        text-align: center;
        transition: height 0.5s;
        top: -30px;
    }

    .layer h3 {
        font-size: 9px;
        font-weight: 700;
        color: white;
        margin-bottom: 20px;
    }

    .layer p {
        font-size: 7px;
        color: #fff;
        font-weight: 500;
    }

    .work:hover .layer {
        height: 98.8%;
    }

    /* ---------------------------this is my services -------------------------------- */

    .services {
        margin-top: 2%;
        padding-bottom: 10%;
        margin-bottom: 10%;
    }

    .services h1 {
        margin-bottom: 2%;
        font-size: 12px;
    }

    .services p {
        margin-bottom: 5%;
        font-size: 11px;
    }

    .services-box {
        background: rgba(13, 40, 99, 0.8);
        padding: 10px;
        height: 150%;
        border-top-right-radius: 60px;
        border-bottom-left-radius: 60px;
    }

    .services-box .fa {
        margin-left: -10%;
        font-size: 200%;
    }

    .col-md-4 {
        margin: 10%;
    }

    /* -------------------------------this is my contact section----------------- */

    #contact-me {
        height: fit-content;
    }

    .row {
        display: block;
        flex-direction: column;
    }

    .contact-left h1 {
        font-size: 30px;
        text-align: left;
        padding: 0 10px;
        margin-left: -10%;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .contact-left p {
        margin-top: 10px;
        margin-left: -10%;
    }

    .social-icons {
        margin-left: -10%;
    }


    /* .btn-2 {
        margin-top: -55%;
        margin-left: 40%;
        margin-right: 10%;
    } */

    #btn3 {
        text-align: center;
        margin-right: 20%;
        font-size: 10px;
        width: 70%;
        height: 70px;
    }


    #btn-back {
        flex-direction: row;
        text-align: center;
        font-size: 10px;
        gap: 100px;
        height: 50px;
        width: 20%;
    }

    .btn {
        background-color: black;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 10px;
        cursor: pointer;
        margin: 20px;
        width: 100px;
        height: 50px;
        border-radius: 10px;
        text-align: center;
    }

    .btn i {
        padding-right: 20px;
    }

    form input,
    form textarea {
        width: 100%;
        height: 80px;
        border: 0;
        outline: none;
        background: #fff;
        padding: 15px;
        margin: 15px;
        color: black;
        font-size: 18px;
        border-radius: 6px;
    }
}