* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --alice-blue: #CBD0D8;
    --blue: #0D2863;
    --near-white: #F4F3EA;
}

/* --------------This the thank you page styles--------------- */
.thank-you{
    text-align: center;
    margin: auto;
    font-weight: 700;
    color: #0D2863;
}

/*------------------------------------------ This the navigation menu--------------------------- */
body {
    background: var(--near-white);
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 5%;
    background: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 10000;
}

#header a img {
    height: 30px;
    width: 50px;
    object-fit: cover;
    margin-left: -5%;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: var(--near-white);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 50%;
    height: 2px;
    background: var(--alice-blue);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/*------------------------------------- This is the Home section------------------------------------- */
#content {
    height: 100vh;
    width: 100%;
    background: var(--alice-blue);
}

.text-box {
    color: var(--blue);
    position: absolute;
    top: 20%;
    left: 5%;
    margin-bottom: 20%;
}

.text-box p {
    margin-left: -3%;
    font-size: 400%;
    font-weight: 600;
}

.text-box h1 {
    font-size: 500%;
    line-height: 160px;
    margin-left: -3%;
    color: transparent;
    -webkit-text-stroke: 1px var(--blue);
    background: url("./assets/back.png") rgba(13, 40, 99, 1);
    -webkit-background-clip: text;
    background-position: 0 7;
    animation: back 20s linear infinite;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.text-box h3 {
    font-size: 100%;
    font-weight: 500;
    color: var(--blue);
    letter-spacing: -10%;
}

.text-btn {
    height: 45px;
    width: 200px;
    background-color: var(--blue);
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.text-btn a {
    text-decoration: none;
    color: var(--near-white);
}

.image img {
    height: 35%;
    width: 35%;
    margin-left: 55%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 18%;
}


/* -------------------This is the about me section---------------------------s */

#about-me {
    position: relative;
}

#about-me h1 {
    text-align: center;
    letter-spacing: 15%;
    font-size: 24px;
    font-weight: 800;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    color: var(--blue);
}

.about-content {
    display: flex;
    height: 80%;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
    background: var(--blue);
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
}

.about-content:hover {
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    transition: 1s;
}

.image-1 img {
    height: 300px;
    width: 200px;
    margin: 20px 0 20px 20px;
    margin-top: 10px;
    border-radius: 10px;
    border-bottom-left-radius: 80px;
    border-top-left-radius: 0;
    background-size: cover;
    object-fit: cover;
}

.about-text p {
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 10%;
    text-align: justify;
    justify-content: center;
    color: white;
    font-size: 80%;
    letter-spacing: 5%;
    line-height: 200%;
    font-family: Lucida Sans;
    overflow: hidden;
}

.about {
    margin-top: -30px;
    margin-bottom: 30px;
    margin-left: 20%;
}

.text-btn2 {
    height: 45px;
    width: 200px;
    background-color: var(--near-white);
    border-radius: 10px;
    border: none;
    outline: none;
    margin-left: 20px;
    cursor: pointer;
}

a .text-btn2 {
    text-decoration: none;
    color: var(--blue);
}

.bac {
    display: none;
    margin-top: -80px;
    margin-bottom: 20px;
    margin-left: 95%;
}

.back-to-top {
    height: 45px;
    width: 30px;
    position: sticky;
    z-index: 90;
}

.back-to-top a button i {
    color: var(--blue);
}

/* -----------------------------------------------This is My work section ----------------------------- */


#portfolio {
    padding: 30px 0;
    height: max-content;
    background: var(--blue);
}

.sub-title {
    color: var(--near-white);
    text-align: center;
    font-size: 200%;
}

.work-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-gap: 2%;
    margin: 2% 5% 5% 5%;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.layer {
    width: 100%;
    height: 0;
    background: rgba(13, 40, 99, 0.8);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}

.layer p {
    color: #fff;
    font-weight: 500;
}

.layer a button {
    margin-top: 20px;
    color: var(--blue);
    text-decoration: none;
    font-size: 18px;
    background: var(--alice-blue);
    width: 200px;
    height: 45px;
    border-radius: 10px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.work:hover .layer {
    height: 100%;
}

/*--------------------------- This is my service section ---------------------*/
.services {
    margin-top: 2%;
    padding-bottom: 10%;
    margin-bottom: 7%;
}

.services p {
    margin-bottom: 3%;
}

.services-box1 {
    background: var(--alice-blue);
    height: 350px;
    display: flex;
    gap: 30px;
    margin: 0;
    margin-bottom: -200px;
    width: 550px;
}

.service-head h2 {
    font-weight: 700;
    color: var(--blue);
}

.s-head h2 {
    margin-top: 20px;
}

#serve {
    display: flex;
    flex-direction: column;
}

.first .icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.icons {
    margin-left: 100px;
}

.two p {
    text-align: justify;
    margin-left: -35px;
    font-size: 16px;
    color: var(--blue);
}

.icons i {
    margin-bottom: 70px;
}

.icons .fa,
.fa-brands {
    width: 50px;
    height: 50px;
    font-size: 60px;
    color: var(--blue);
}

.service-head {
    width: 100%;
}

.first h2 {
    text-align: center;
    margin-top: 5%;
}

.second {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    background: var(--alice-blue);
    padding: 10px;
    height: 350px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
}

.services-box .fa {
    margin: 20% 10% 0 10%;
    font-size: 200%;
}

.services-box span {
    margin: 3px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
}

.services-box p {
    font-size: 15px;
    margin-top: 20px;
    color: white;
    padding: 10px;
}

.second:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    transition: 1s;
}

.services-box:hover p {
    color: #fff;
}

.container {
    text-align: center;
}

.container h1 {
    font-size: 24px;
    letter-spacing: 15%;
    font-weight: 800;
}

.container p {
    font-size: 17px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#skills-section {
    margin-top: -30px;
}

#skills-section h2 {
    color: var(--blue);
    text-align: justify;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 60px;
}

#skills-section h3 {
    color: var(--blue);
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 60px;
}

ul {
    list-style-type: disc;
    color: #888;
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 15px;
}

li {
    margin-bottom: 5px;
}

/* -----------------------------------------This is my contact section ---------------------------- */
#contact-me {
    height: max-content;
    display: flex;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(203, 208, 216, 0.7) 99.99%, #0D2863 100%), url("./assets/mine.jpg");
    background-size: cover;
    object-fit: cover;
}

.container-contact {
    padding: 10px 10%;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left h1 {
    font-size: 150%;
    margin-left: -40%;
    margin-top: 25%;
    color: var(--blue);
}

.contact-left p {
    margin-top: 10%;
}

.contact-left p i {
    color: var(--blue);
    margin-left: 50px;
    font-size: 18px;
    margin-top: 20px;
}

.contact-left p a {
    color: var(--blue);
    margin-left: 10px;
    text-decoration: none;
    font-size: 18px;
}

.social-icons {
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    cursor: pointer;
}

.social-icons a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    color: var(--blue);
    transition: transform, 0.5s;
}

.social-icons a:hover {
    color: rgba(13, 40, 99, 0.8);
    transform: translateY(-5px);
}

.btn-2 button {
    display: block;
    margin-left: 100px;
}

#btn3 {
    margin-top: 62px;
    margin-bottom: 0;
}

.btn22 {
    border-radius: 50px
}

.btn {
    background-color: black;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 14px;
    cursor: pointer;
    margin: 20px;
    width: 65%;
    height: 60px;
    border-radius: 10px;
    text-align: left;
}

.btn i {
    padding-right: 20px;
}

.btn:hover {
    background: transparent;
    border: 2px solid black;
    color: var(--blue);
}

.btn a {
    text-decoration: none;
    color: var(--blue);
}

#btn-back {
    width: 35%;
    margin-left: 10%;
    font-size: 14px;
}

.contact-right form {
    width: 100%;
    margin-top: 120px;
}

form input,
form textarea {
    width: 100%;
    height: 80px;
    border: 0;
    outline: none;
    background: #fff;
    padding: 15px;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-left: 10%;
    color: black;
    font-size: 18px;
    border-radius: 6px;
}

.your-msg {
    height: 150px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    height: 50px;
    padding: 25px 0;
    background: var(--blue);
    font-weight: 300;
}

.copyright p {
    margin: auto;
    color: var(--near-white);
}

.copyright i {
    color: var(--near-white);
}

span {
    color: orange;
}

.head .fas {
    display: none;
}



/*----------------------------------------------- This is my section for small screen devices----------------------------- */
@media only screen and (max-width: 767px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #content {
        height: max-content;
        background: var(--alice-blue);
    }

    #navbar .fa-times {
        top: 5%;
    }

    .head ul {
        background: rgba(13, 40, 99, 0.8);
        position: fixed;
        display: block;
        justify-content: flex-start;
        flex-direction: column;
        right: -200px;
        justify-content: left;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
    }

    .head ul li a {
        display: block;
        flex-direction: column;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
        text-align: left;
    }

    #navbar li a.active::after,
    #navbar li a:hover::after {
        height: 0px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
    }

    li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: var(--blue);
        color: var(--near-white);
    }

    .head .fas {
        display: block;
        color: white;
        cursor: pointer;
    }

    .head ul .fas {
        position: absolute;
        left: 25px;
        cursor: pointer;
    }

    .text-btn {
        height: 45px;
        width: 200px;
        background-color: var(--blue);
        border-radius: 10px;
        border: none;
        outline: none;
        margin-top: 30px;
        margin-left: 20px;
        cursor: pointer;
    }

    .text-btn a {
        text-decoration: none;
        color: var(--near-white);
    }

    /* ---------------------------------------------This is my about section---------------------------- */
    #content {
        height: max-content;
        width: fit-content !important;
    }

    .text-box {
        margin-top: 8%;
        font-size: 16px;
        margin-left: 4.5%;
    }

    .text-box p {
        margin-left: -5%;
        margin-top: -20%;
        margin-bottom: -10%;
        overflow: hidden;
    }

    .text-box h1 {
        font-size: 30px;
        margin-top: -20%;
    }

    .text-box h3 {
        margin-top: -20%;
        margin-left: -2%;
        font-size: 10px;
    }

    .image img {
        margin-top: 90%;
        margin-left: 4.5%;
        height: max-content;
        width: 80%;
        margin-bottom: 20%;
    }

    .about-content {
        display: flex;
        height: 250px;
        width: auto;
        margin: 0 30px 20px 30px;
        background: rgba(13, 40, 99, 0.8);
        border-bottom-left-radius: 80px;
        border-top-right-radius: 80px;
    }

    #about-me {
        margin-bottom: 50px;
    }

    #about-me h1 {
        font-size: 30px;
        text-align: left;
        padding: 0 30px;
    }

    .image-1 {
        display: none;
    }

    .about-text p {
        padding: 20px 20px 1px 20px;
        font-weight: 400;
        font-size: 0.5rem;
        line-height: 120%;
        justify-content: center;
        overflow: hidden;
    }

    .about a #btn3 {
        background: var(--near-white);
        color: #0D2863;
    }

    .bac {
        display: block;
        margin-top: -80px;
        margin-bottom: 20px;
        margin-left: 90%;
    }

    .back-to-top {
        height: 45px;
        width: 30px;
        position: static;
        z-index: 90;
    }

    .back-to-top a button i {
        color: var(--blue);
    }

    /* --------------------------------------this is my work section --------------------------- */
    .subtittle {
        text-align: center;
        padding: 0 40px;
        font-size: 100px;
        color: white;
    }

    .bt {
        color: white;
        text-align: center;
        padding: 0 40px;
        font-size: 100px;
        position: absolute;
        z-index: 999;
        margin-left: 30px;
        margin-top: -60px;
    }

    #portfolio {
        height: auto;
    }

    .work-list {
        flex-direction: column;
        justify-content: center;
        margin-top: 50px !important;
    }

    .work img {
        justify-content: center;
        margin-bottom: 10%;
        height: auto;
        width: 80%;
        margin-left: 9%;
    }

    .layer {
        margin-left: 9%;
        margin-bottom: 10%;
        padding: 10px 0;
        width: 80%;
        height: 0;
        display: flex;
        text-align: center;
        transition: height 0.5s;
        top: -30px;
    }

    .layer h3 {
        font-size: 9px;
        font-weight: 700;
        color: white;
        margin-bottom: 20px;
    }

    .layer p {
        font-size: 7px;
        color: #fff;
        font-weight: 500;
    }

    .work:hover .layer {
        height: 100%;
    }

    /* ---------------------------this is my services -------------------------------- */

    .services {
        margin-top: 2%;
        padding-bottom: 10%;
        margin-bottom: 8%;
    }

    .services p {
        margin-bottom: 3%;
    }

    .services-box1 {
        background: var(--alice-blue);
        height: 220px;
        display: flex;
        gap: 30px;
        margin: 0;
        margin-bottom: -200px;
        width: 100%;
    }

    .service-head h2 {
        font-weight: 700;
        color: var(--blue);
    }

    .s-head h2 {
        margin-top: 20px;
    }

    #serve {
        display: flex;
        flex-direction: column;
    }

    .first .icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .icons {
        margin-left: 40px;
    }

    .two p {
        text-align: justify;
        margin-left: -35px;
        font-size: 16px;
        color: var(--blue);
    }

    .icons i {
        margin-bottom: 40px;
    }

    .icons .fa,
    .fa-brands {
        width: 50px;
        height: 50px;
        font-size: 30px;
        color: var(--blue);
    }

    .service-head {
        width: 100%;
    }

    .first h2 {
        text-align: center;
        margin-top: 5%;
    }

    .second {
        display: flex;
        flex-direction: column;
        margin-top: 240px;
        margin-bottom: 5px;
        background: var(--alice-blue);
        padding: 10px;
        height: 350px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-bottom: -40px;
    }

    .services-box .fa {
        margin: 20% 10% 0 10%;
        font-size: 200%;
    }

    .services-box span {
        margin: 3px;
        font-size: 17px;
        font-weight: 600;
        color: #fff;
    }

    .services-box p {
        font-size: 15px;
        margin-top: 20px;
        color: white;
        padding: 10px;
    }

    .second:hover {
        /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25); */
        border-top-right-radius: 60px;
        border-bottom-left-radius: 60px;
        transition: 1s;
    }

    .services-box:hover p {
        color: #fff;
    }

    .container {
        text-align: center;
    }

    .container h1 {
        font-size: 24px;
        letter-spacing: 15%;
        font-weight: 800;
        color: var(--blue);
    }

    .container p {
        font-size: 17px;
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #skills-section {
        margin-top: -30px;
    }

    #skills-section h2 {
        color: var(--blue);
        text-align: justify;
        font-size: 16px;
        margin-bottom: 10px;
        margin-left: 60px;
    }

    #skills-section h3 {
        color: var(--blue);
        text-align: justify;
        font-size: 14px;
        font-weight: 400;
        margin-top: 15px;
        margin-bottom: 5px;
        margin-left: 60px;
    }

    ul {
        list-style-type: disc;
        color: #888;
        font-size: 16px;
        margin-left: 20px;
        margin-bottom: 15px;
    }

    li {
        margin-bottom: 5px;
    }

    /* -------------------------------this is my contact section----------------- */

    #contact-me {
        height: max-content;
        display: flex;
        width: fit-content;
        background-image: linear-gradient(180deg, rgba(203, 208, 216, 0.7) 99.99%, #0D2863 100%);
        background-size: contain;
        object-fit: contain;
    }

    .column {
        display: block;
        flex-direction: column;
    }

    .contact-left h1 {
        font-size: 30px;
        text-align: left;
        padding: 0 10px;
        margin-left: -20px;
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .contact-left p {
        margin-top: 0px;
        margin-left: -55px;
    }

    .social-icons {
        display: flex;
        flex-direction: column;
        margin-left: -20px;
    }


    .btn-2 {
        margin: auto;
        margin-top: -220px;
        margin-right: 55px;
    }

    #btn3 {
        text-align: center;
        background: #0D2863;
        margin-right: 30%;
        font-size: 10px;
        width: 80%;
        height: 45px;
        margin-bottom: -60px;
    }

    .btn a {
        text-align: center;
    }


    #btn-back {
        flex-direction: row;
        text-align: center;
        font-size: 10px;
        gap: 100px;
        height: 50px;
        width: 20%;
    }

    .btn {
        background-color: black;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 10px;
        cursor: pointer;
        margin: 20px;
        width: 100px;
        height: 45px;
        border-radius: 10px;
        text-align: center;
    }

    .btn i {
        padding-right: 20px;
    }

    .contact-right {
        margin-top: -125px;
    }

    form input,
    form textarea {
        width: 100%;
        height: 60px;
        border: 0;
        outline: none;
        background: #fff;
        padding: 15px;
        margin: 15px 5px 0px 15px;
        color: black;
        font-size: 18px;
        border-radius: 6px;
    }

    .your-msg {
        height: 150px;
    }

    form .btn2 {
        padding: 14px 60px;
        font-size: 18px;
        margin-top: 20px;
        background: #0D2863;
        cursor: pointer;
        text-align: center;
    }

    .copyright {
        width: 100%;
        text-align: center;
        height: 50px;
        padding: 25px 0;
        background: var(--blue);
        font-weight: 300;
        /* margin-top: 100px; */
    }

    .copyright p {
        margin-top: -15px;
        margin-left: 1px;
        color: var(--near-white);
    }

    .copyright i {
        color: var(--near-white);
    }

}